/* Formattazione */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
}

/* Header */

nav{
    display: flex;
    justify-content: space-between;
    height: 5rem;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    white-space: nowrap;
}

.left, .right{
    display: flex;
    align-items: center;
}

.list-left, .list-right{
    display: flex;
    list-style: none;
    align-items: center;
}

.list-left li > a{
    text-decoration: none;
    color: black;
    padding-inline: 1.2rem;
    font-size: 0.9rem;
}

.list-right li > a{
    text-decoration: none;
    color: black;
    padding-inline: 1.2rem;
    font-size: 0.9rem;
}

.blue-button{
    background-color: #0061ff;
    color: white;
    padding: 7px;
    white-space: nowrap;
}

#accedi{
    color: white;
    margin-right: 1rem;
}

.lightblue{
    background-color: #b4d0e7;
    margin-top: 5rem;
}

.container-big{
    max-width: 1000px;
    margin-inline: auto;
}

.main-title{
    font-size: 4rem;
    font-weight: 700;
    line-height: 90px;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.main-header-content{
    display: flex;
    justify-content: space-between;
}

#inizia{
    color: white;
    text-decoration: none;
    align-self: flex-start;
}

.header-right{
    flex: 0 0 60%;
}

.header-right > img{
    width: 100%;
    margin-bottom: -50px;
}

.header-left{
    display: flex;
    flex: 0 0 40%;
    flex-direction: column;
    gap: 2rem;
}

#arrow{
    color: black;
    font-size: 30px;
    margin-top: -15px;
}

/* Main */

.container{
    max-width: 850px;
    margin-inline: auto;
    margin-top: 3rem;
}

.section-title{
    padding-top: 4rem;
    padding-bottom: 3rem;
    font-size: 2rem;
}

.blue-circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid #0061ff;
}

.choose{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 3rem;
}

.choose1{
    padding-right: 30px;
}

.circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid lightgray;
}

.cards{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.card{
    width: calc(100% / 3 - 2rem);
    border: 1px solid lightgray;
    padding-bottom: 30px;
}

.first-row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.plan{
    font-size: 1.2rem;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 10px;
}

.cost{
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 12px;
    padding-left: 10px;
}

.month{
    color: lightslategray;
    font-size: 13px;
    padding-left: 10px;
    padding-bottom: 3rem;
}

.services{
    list-style: none;
    font-size: 14px;
}

.services li{
    padding-bottom: 15px;
    padding-left: 10px;
}

#prova-1{
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding-inline: 25px;
}

.prova-gratis{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.buy{
    font-size: 14px;
    padding-left: 15px;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.gray-hr{
    color:#d4d4d7;
    width: 50px;
    margin-left: 15px;
}

.offers{
    font-size: 15px;
    font-weight: bold;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 3rem;
}

.offers-list li{
    list-style: none;
    font-size: 14px;
    padding-bottom: 15px;
    padding-left: 10px;
    line-height: 20px;
}

.check{
    color: #0061ff;
}

#prova-2{
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding-inline: 25px;
}

#prova-3{
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding-inline: 70px;
}

.orizontal-card{
    margin-top: 40px;
    border: 1px solid lightgray;
    margin-bottom: 100px;
}

.orizontal-card .orizontal-left p{
    padding-top: 30px;
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.orizontal-content{
    display: flex;
}

.orizontal-left{
    flex: 0 1 70%;
}

.orizontal-right{
    flex: 0 1 30%;
    padding-top: 30px;
}

#contatta{
    font-size: 13px;
    padding-inline: 25px;
}

.partner{
    display: flex;
}

.partner-left{
    flex: 0 1 70%;
}

.partner-right{
    flex: 0 1 30%;
}

.partner-left img{
    width: 100%;
    padding-right: 30px;
}

.partner-right h4{
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.partner-right p{
    padding-bottom: 2rem;
    font-size: 13px;
}

.white-button{
    color:black;
    padding: 10px;
    border: 1px solid black;
    text-decoration: none;
    font-size: 13px;
}

.operations{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 1rem;
}

.operation{
    width: calc(100% / 3 - 2rem);
}

.operation img{
    width: 100%;
}

.operation h3{
    line-height: 25px;
    padding-bottom: 1rem;
}

.operation p{
    font-size: 13px;
}


.container-very-small{
    max-width: 600px;
    line-height: 45px;
}

.container-very-small a{
    font-size: 14px;
}

.boxes{
    display: flex;
    margin-top: 100px;
}

.box-left, .box-center, .box-right{
    width: 33,333333%;
}

.box{
    width: calc(100% / 2);
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 auto;
}

.box img{
    width: 50%;
    filter: invert(1);
}

.box-left{
    display: flex;
    flex-wrap: wrap;
}

.green{
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}

.magenta{
    background-color: #61082b;
}

.lightbluette{
    background-color: #0093ce;
}

.red{
    background-color: #ff1c1c;
}

.box-right{
    display: flex;
    flex-wrap: wrap;
}

.red2{
    background-color: #d5001f;
}

.lightblue2{
    background-color: #b4d0e7;
}

.bluette{
    background-color: #0d2481;
}

.yellow{
    background-color: #ffd830;
}

.box-center{
    background-color: #f5f5f5;
}

.center-box-content{
    max-width: 85%;
    margin-inline: auto;
}

.line-central-box{
    width: 100px;
    color: #e3e3e5;
    margin-bottom: 3rem;
}

.center-box-content img{
    width: 50%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.center-box-content p{
    font-size: 12px;
    padding-bottom: 3rem;
}

.business{
    background-color: #b4d0e7;
}

.prova-business{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}

.title-magenta{
    color: #61082b;
    font-size: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#button-white-black{
    color: black;
    text-decoration: none;
    padding: 8px 30px;
    background-color: white;
    font-size: 13px;
}

.prova-business-left{
    flex: 0 1 50%;
}

.faq{
    color: #b5b5b5;
}

.row-faq{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.row-faq p{
    font-size: 0.8rem;
    font-weight: bold;
}

.chevron{
    padding-right: 30px;
    font-size: 0.7rem;
}

.section-faq{
    padding-bottom: 7rem;
}

/* FOOTER */

footer{
    background-color: black;
    padding-top: 50px;
    padding-bottom: 2rem;
}

.footer-list{
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer-list li{
    list-style: none;
}

.footer-list > li{
    font-weight: bold;
    font-size: 1.3rem;
}

.links{
    font-weight: 400;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 30px;
    padding-bottom: 70px;
}

.hr-white{
    color: white;
    width: 100px;
    margin-bottom: 3rem;
}

.world{
    color: #999999;
    font-size: 12px;
}













